.card {
    background-color: transparent;
    border: 1px solid var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardContent {
    width: 100%;
    padding: 0;
}
.infos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.infos p span {
    color: var(--main-yellow);
    font-weight: 700;
}

.description {
    padding: 10px;
}