:root {
    --main-white: white;
    --main-dark: black;
    --main-blue: rgba(0, 132, 255, 0.75);
    --main-green: rgb(156, 255, 114);
    --main-yellow: #feda4a;
    --main-grey: #2b2e32;
    --main-notFound:#b8c4cf;
}