body {
    background: var(--main-dark)
    url('../assets/images/stars.png') repeat top
    center;
  z-index: 0;
}

p, h6 {
    color: var(--main-white);
}

/* Scroll bar*/
::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background: var(--main-grey);
}

::-webkit-scrollbar-thumb {
  border: 0.063rem solid var(--main-blue);
  background: var(--main-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-blue);
}

.active {
  color: var(--main-blue) !important
}